{{ template "header" . }}
<style>
    .cb__list {
        padding: 0;
        list-style-type: none;
        font-family: sans-serif;
        width: 320px;
        margin: 0 auto;
        overflow: hidden
    }

    .cb__list .bubble {
        box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
        display: inline-block;
        line-height: 1.45em;
        border-radius: 3px;
        margin: 0 0 1em;
        text-align: left;
        position: relative;
        padding: 6px 12px;
        background: #fff;
        font-size: 19px;
        border: none;
        max-width: 90%;
        min-width: 44px;
        min-height: 12px
    }

    .cb__list .bubble.typing {
        animation: cb-font-fade 1.2s ease-in-out infinite
    }

    @keyframes cb-font-fade {
        50% {
            color: transparent
        }

        100% {
            color: "inherit"
        }
    }
</style>
<ul id="messages"></ul>
<div style="width:100%;">
    <img style="width: 18%;margin: 0 40%;" src="/static/img/g1.gif">
</div>
<!-- <script src="//code.jquery.com/jquery-3.1.1.slim.min.js"></script> -->
<script>
    ; (function ($, window, document, undefined) {
        var chatBubble = "chatBubble",
            defaults = {
                typingSpeed: 40, // speed in words per minute
                delay: 1000 // delay between adding messages
            };
        function Plugin(element, options) {
            this.element = element;
            this.options = $.extend({}, defaults, options);
            this._defaults = defaults;
            this._name = chatBubble;

            this.init();
        }

        Plugin.prototype = {

            init: function () {
                var self = this;

                $(self.element).addClass('cb__list');

                var messages = this.options.messages;
                var count = messages.length;
                var typingSpeed = this.options.typingSpeed || this.defaults.typingSpeed;
                var delay = this.options.delay || this.defaults.delay;

                var i = 0;

                function addMessage() {
                    self.addMessage(self.element, messages[i], typingSpeed).then(function () {
                        window.setTimeout(function () {
                            i++;
                            if (i < count) addMessage();
                            window.setTimeout(function () {
                                $('#messages li:nth-child(' + i + ')').children().remove();
                                if (i == 2) {
                                    $('#messages').append('<a href="/home"><center><h2>Lets go to town!</h2></center></a>');
                                }
                            }, 3000);
                        }, delay);
                    });
                }

                addMessage();
            },

            addMessage: function (el, message, typingSpeed) {

                var $listItem = $('<li></li>');
                var $bubble = $('<div class="bubble typing">...</div>');
                var words = message.split(' ').length;
                var speed = (words / typingSpeed) * 6000;

                if (speed < 1000) speed = 1000;
                if (speed > 10000) speed = 10000;

                $listItem.html($bubble);
                $(el).append($listItem);

                return new Promise(function (resolve, reject) {
                    window.setTimeout(function () {
                        $bubble.html(message).removeClass('typing');
                        resolve(true);

                    }, speed);

                });
            }
        };

        $.fn[chatBubble] = function (options) {
            return this.each(function () {
                if (!$.data(this, "plugin_" + chatBubble)) {
                    $.data(this, "plugin_" + chatBubble,
                        new Plugin(this, options));
                }
            });
        };

    })(jQuery, window, document);

    var messages = ['Welcome to ZEG!', ' My name is Zachary Endrulat and I want to welcome you to my site.', 'We are going to take a trip to learning the best language ever! ']
    $('#messages').chatBubble({
        messages: messages,
        typingSpeed: 40,
        delay: 1000
    });

</script>







{{ template "footer" . }}