{{ template "header" . }}
<div id="pane">
    <div id="box" border='0' class="character">
        <img src="/static/img/{{.guys.Color}}.png">
    </div>

    <div class="box2">
        <img src="/static/img/question.png">
    </div>

</div><!-- end of panel -->


<!--Creates the popup body-->
<div class="popup-overlay" style="position: absolute;top: 1%;">
    <!--Creates the popup content-->
    <div class="popup-content">
        {{ template "questions" . }}
        <!--popup's close button-->
        <button class="close">Close</button>
    </div>
</div>


<script>
    //store stuff
    var pane = $('#pane'),
        box = $('#box'),
        boximg = $('#box img'),
        box2 = $('.box2'),
        wh = pane.width() - box.width(),
        wv = pane.height() - box.height(),
        d = {},
        x = 5;

    $(".close").on("click", function () {
        box.css("top", "0%");
        box.css("left", "0%");
        $(".popup-overlay, .popup-content").removeClass("active");
    });
    //ensure limits
    function newh(v, a, b) {

        var n = parseInt(v, 10) - (d[a] ? x : 0) + (d[b] ? x : 0);
        return n < 0 ? 0 : n > wh ? wh : n;
    }

    function newv(v, a, b) {
        var n = parseInt(v, 10) - (d[a] ? x : 0) + (d[b] ? x : 0);
        return n < 0 ? 0 : n > wv ? wv : n;
    }
    //keys
    $(window).keydown(function (e) {
        switch (e.which) {
            case 39:// right
                boximg.attr('src', "/static/img/walk.gif");
                break;
            case 38:// up
            boximg.attr('src', "/static/img/up.gif");
                break;
            case 37:// left
            boximg.attr('src', "/static/img/back.gif");
                break;
            case 40:// down
            boximg.attr('src', "/static/img/down.gif");
                break;
            default:
            boximg.attr('src', "/static/img/glogo.gif");
        }
        d[e.which] = true;
    });
    $(window).keyup(function (e) {
        d[e.which] = false;
    });
    //obj1 obj2 popup
    function coll(o, o2, p) {
        i = 20;
        bf = o.offset();
        bf2 = o2.offset();

        if ((bf.left - i) < bf2.left && (bf.left + i) > bf2.left && (bf.top - i) < bf2.top && (bf.top + i) > bf2.top) {
            //crash
            $(p).addClass("active");
            console.log("crash");
        } //end of collision

    }
    //repaint
    setInterval(function () {
        //keys
        box.css({
            left: function (i, v) {
                return newh(v, 37, 39);
            },
            top: function (i, v) {
                return newv(v, 38, 40);
            }
        });
        //sizes
        wh = pane.width() - box.width();
        wv = pane.height() - box.height();
        //actions
        coll(box, box2, ".popup-overlay, .popup-content");
    }, 90); //end of repaint

</script>
<style>
    #pane {
        position: relative;
        width: 100%;
        height: 400px;
        border: 2px solid red;
    }

    #box {
        position: absolute;
        top: 140px;
        left: 20%;
        width: 20px;
        height: 20px;
        border: solid 1px black;
    }

    .character img {
        width: 153%;
    }

    .box2 {
        position: absolute;
        top: 10px;
        left: 20%;
        width: 20px;
        height: 20px;
        border: solid 1px black;
    }

    .box2 img {
        width: 120%;
    }

    .popup-overlay {
        /*Hides pop-up when there is no "active" class*/
        visibility: hidden;
        position: absolute;
        background: #ffffff;
        border: 3px solid #666666;
        width: 50%;
        height: 50%;
        left: 25%;
    }

    .popup-overlay.active {
        /*displays pop-up when "active" class is present*/
        visibility: visible;
        text-align: center;
        width: 71%;
        height: 30em;
        left: 1%;
    }

    .popup-content {
        /*Hides pop-up content when there is no "active" class */
        visibility: hidden;
    }

    .popup-content.active {
        /*Shows pop-up content when "active" class is present */
        visibility: visible;
    }

    button {
        display: inline-block;
        vertical-align: middle;
        border-radius: 30px;
        margin: .20rem;
        font-size: 1rem;
        color: #666666;
        background: #ffffff;
        border: 1px solid #666666;
    }

    button:hover {
        border: 1px solid #666666;
        background: #666666;
        color: #ffffff;
    }
</style>



{{ template "footer" . }}