{{ template "header" . }}
<p id="output"></p>

<input class="input" type="text">
<button class="btn">click here</button>

<script>
    var loc = window.location;
    var uri = 'ws:';

    if (loc.protocol === 'https:') {
        uri = 'wss:';
    }
    uri += '//' + loc.host;
    uri += loc.pathname + 'ws';

    ws = new WebSocket(uri)

    ws.onopen = function () {
        console.log('Connected')
    }

    ws.onmessage = function (evt) {
        var out = document.getElementById('output');
        out.innerHTML += evt.data + '<br>';
    }
    var val;
    $('.btn').click(function () {
        val = $('.input').val();
        ws.send(val);
    })



    // setInterval(function () {
    //     ws.send(val);
    // }, 5000);
</script>
{{ template "footer" . }}